{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <style>
    </style>
{% endblock %}
{% block body %}
    <div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url 'editCsv'  %}"> </a>
            </li>

            <li class="breadcrumb-item active">CSV Upload</li>
        </ol>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                CSV Upload
                <a class="btn-sm btn btn-success" href="{% static 'sample.csv' %}"  download style="float: right"><span class="fa fa-download" ></span> &nbsp;download sample CSV</a>
            </div>

        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                File List
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm" id="dataTable">
                        <thead>
                        <tr>
                        <th> Sr. #</th>
                        <th> First Name </th>
                        <th> Last Name </th>
                        <th> Email </th>
                        <th> mobile </th>
                        <th> address </th>
                        <th> suburb </th>
                        <th> state </th>
                        <th> postal </th>
                        <th> gender </th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for f in csv_data %}
                        <tr>
                           <td> {{f.id}} </td>
                           <td> {{f.first_name}} </td>
                           <td> {{f.last_name}} </td>
                           <td> {{f.email}} </td>
                           <td> {{f.mobile}} </td>
                           <td> {{f.address}} </td>
                           <td> {{f.suburb}} </td>
                           <td> {{f.state}} </td>
                           <td> {{f.postal}} </td>
                           <td> {{f.gender}} </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).on('change', '.file', function (event) {
            document.getElementById('fileLabel').innerHTML = event.target.files[0].name;
            if (event.target.files[0].name){
                document.getElementById('submitBtn').disabled = false;
            }
        });
    </script>

{% endblock %}
</div>