{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <style>
    select{
       width: -webkit-fill-available;;
    }
        body{
  height: 100vh;
  text-align: center;
}
  /*Trigger Button*/
.login-trigger {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom right, #B05574, #F87E7B);
  padding: 15px 30px;
  border-radius: 30px;
  position: relative;
  top: 50%;
}

/*Modal*/
h4 {
  font-weight: bold;
  color: #fff;
}
.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: linear-gradient(to bottom right,#F87E7B,#B05574);
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;
  border-color: #fff;
}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #eee;
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}
.my-class table{
    margin: 0 auto !important;
}

    </style>
{% endblock %}
{% block body %}
    <div id="content-wrapper" style="overflow: hidden">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">CSV Upload1</li>
        </ol>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                CSV Upload
                <a class="btn-sm btn btn-success" href="{% static 'sample.csv' %}"  download style="float: right"><span class="fa fa-download" ></span> &nbsp;download sample CSV</a>
            </div>
            <div class="card-body">
              <form method="POST" action="" enctype="multipart/form-data"  class="form-horizontal">
        {% csrf_token %}
     
           
           
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="input-group input-group-lg">
                                    <div class="custom-file">
                                       
                                               {{ form.as_p }}
 

  
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group input-group-lg">
                                    <div class="custom-file">
                                        <button class="btn btn-primary btn-block" id="submitBtn"  type="submit">Upload &nbsp;&nbsp;&nbsp;<span></span>
                                        </button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                   


            </div>
        </div>

 <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                File List
            </div>
            <div class="card-body">
                <div class="table-responsive">
                 <div class="table table-striped table-bordered my-class" >
          
                         {{loaded_data|safe}}
                            {% if   loaded_data %}

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit Data</button>
                            {% endif %}
                        
                 </div >
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Data Mapping</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table style="width:100%">

              <tr>
    <th>
    
    <!-- <input  class="form-select" aria-label="Default select example" type="text" value="First Name"> -->
    
        <select class="form-select" aria-label="Default select example" style="appearance: none; color:black; font-weight:bold " disabled>
          <option selected value="1" >First Name</option>
  
        </select>
         <select class="form-select" aria-label="Default select example" style="appearance: none;  color:black; font-weight:bold" disabled>
         
          <option selected value="2">Last Name</option>
         
        </select>
         <select class="form-select" aria-label="Default select example" style="appearance: none;  color:black; font-weight:bold" disabled>
         
          <option selected value="3">Email</option>
         
         
        </select>
         <select class="form-select" aria-label="Default select example" style="appearance: none;  color:black; font-weight:bold" disabled>
         
          <option selected value="4">Mobile</option>
        </select>
         <select class="form-select" aria-label="Default select example" style="appearance: none;  color:black; font-weight:bold" disabled>
          
          <option selected value="5">Address</option>
          
        </select>
         <select class="form-select" aria-label="Default select example" style="appearance: none;  color:black; font-weight:bold" disabled>
          
          <option selected value="6">Suburb</option>
          
        </select>
         <select class="form-select" aria-label="Default select example" style="appearance: none;  color:black; font-weight:bold" disabled>
          <option selected value="7">State</option>
        </select>
         <select class="form-select" aria-label="Default select example" style="appearance: none;  color:black; font-weight:bold" disabled>
          <option selected value="8">Post Code</option>
        </select>
         <select class="form-select" aria-label="Default select example" style="appearance: none;  color:black; font-weight:bold "  disabled>
          <option selected value="9">Gender</option>
        </select>
          <select class="form-select" aria-label="Default select example" style="appearance: none;  color:black;  font-weight:bold" disabled>
          <option selected value="10">DOB</option>
        </select>

    </th>

           <th>
               {% for n in header %}
           <select style=" color:black; height:26px; " class="form-select" aria-label="Default select example">
          <option selected value="1">{{header.0}}</option>
          <option value="2">{{header.1}}</option>
          <option value="3">{{header.2}}</option>
          <option value="4">{{header.3}}</option>
          <option value="5">{{header.4}}</option>
          <option value="6">{{header.5}}</option>
          <option value="7">{{header.6}}</option>
          <option value="8">{{header.7}}</option>
          <option value="9">{{header.8}}</option>
          <option value="9">{{header.9}}</option>
        </select>
                  {% endfor %}
                  </th>

{#                  <th>{{header.1}}</th>#}
{#                  <th>{{header.2}}</th>#}
{#                  <th>{{header.3}}</th>#}
{#                  <th>{{header.4}}</th>#}
{#                  <th>{{header.5}}</th>#}
{#                  <th>{{header.6}}</th>#}
{#                  <th>{{header.7}}</th>#}
{#    <th>#}
{#         <select class="form-select" aria-label="Default select example">#}
{#          <option selected value="1">First Name</option>#}
{#          <option value="2">Last Name</option>#}
{#          <option value="3">Email</option>#}
{#          <option value="4">Mobile</option>#}
{#          <option value="5">Address</option>#}
{#          <option value="6">Suburb</option>#}
{#          <option value="7">State</option>#}
{#          <option value="8">Postal</option>#}
{#          <option value="9">Gender</option>#}
{#        </select>#}
{#         <select class="form-select" aria-label="Default select example">#}
{#          <option value="1">First Name</option>#}
{#          <option selected value="2">Last Name</option>#}
{#          <option value="3">Email</option>#}
{#          <option value="4">Mobile</option>#}
{#          <option value="5">Address</option>#}
{#          <option value="6">Suburb</option>#}
{#          <option value="7">State</option>#}
{#          <option value="8">Postal</option>#}
{#          <option value="9">Gender</option>#}
{#        </select>#}
{#         <select class="form-select" aria-label="Default select example">#}
{#          <option value="1">First Name</option>#}
{#          <option value="2">Last Name</option>#}
{#          <option selected value="3">Email</option>#}
{#          <option value="4">Mobile</option>#}
{#          <option value="5">Address</option>#}
{#          <option value="6">Suburb</option>#}
{#          <option value="7">State</option>#}
{#          <option value="8">Postal</option>#}
{#          <option value="9">Gender</option>#}
{#        </select>#}
{#         <select class="form-select" aria-label="Default select example">#}
{#          <option value="1">First Name</option>#}
{#          <option value="2">Last Name</option>#}
{#          <option value="3">Email</option>#}
{#          <option selected value="4">Mobile</option>#}
{#          <option value="5">Address</option>#}
{#          <option value="6">Suburb</option>#}
{#          <option value="7">State</option>#}
{#          <option value="8">Postal</option>#}
{#          <option value="9">Gender</option>#}
{#        </select>#}
{#         <select class="form-select" aria-label="Default select example">#}
{#          <option value="1">First Name</option>#}
{#          <option value="2">Last Name</option>#}
{#          <option value="3">Email</option>#}
{#          <option value="4">Mobile</option>#}
{#          <option selected value="5">Address</option>#}
{#          <option value="6">Suburb</option>#}
{#          <option value="7">State</option>#}
{#          <option value="8">Postal</option>#}
{#          <option value="9">Gender</option>#}
{#        </select>#}
{#         <select class="form-select" aria-label="Default select example">#}
{#          <option value="1">First Name</option>#}
{#          <option value="2">Last Name</option>#}
{#          <option value="3">Email</option>#}
{#          <option value="4">Mobile</option>#}
{#          <option value="5">Address</option>#}
{#          <option selected value="6">Suburb</option>#}
{#          <option value="7">State</option>#}
{#          <option value="8">Postal</option>#}
{#          <option value="9">Gender</option>#}
{#        </select>#}
{#         <select class="form-select" aria-label="Default select example">#}
{#          <option value="1">First Name</option>#}
{#          <option value="2">Last Name</option>#}
{#          <option value="3">Email</option>#}
{#          <option value="4">Mobile</option>#}
{#          <option value="5">Address</option>#}
{#          <option value="6">Suburb</option>#}
{#          <option selected value="7">State</option>#}
{#          <option value="8">Postal</option>#}
{#          <option value="9">Gender</option>#}
{#        </select>#}
{#         <select class="form-select" aria-label="Default select example">#}
{#          <option value="1">First Name</option>#}
{#          <option value="2">Last Name</option>#}
{#          <option value="3">Email</option>#}
{#          <option value="4">Mobile</option>#}
{#          <option value="5">Address</option>#}
{#          <option value="6">Suburb</option>#}
{#          <option value="7">State</option>#}
{#          <option selected value="8">Postal</option>#}
{#          <option value="9">Gender</option>#}
{#        </select>#}
{#         <select class="form-select" aria-label="Default select example">#}
{#          <option value="1">First Name</option>#}
{#          <option value="2">Last Name</option>#}
{#          <option value="3">Email</option>#}
{#          <option value="4">Mobile</option>#}
{#          <option value="5">Address</option>#}
{#          <option value="6">Suburb</option>#}
{#          <option value="7">State</option>#}
{#          <option value="8">Postal</option>#}
{#          <option selected value="9">Gender</option>#}
{#        </select>#}
{#    </th>#}

  </tr>

</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <a href="editCsv/" class="btn btn-primary " style=" margin: 10px"> Edit Data  </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).on('change', '.file', function (event) {
            document.getElementById('fileLabel').innerHTML = event.target.files[0].name;
            if (event.target.files[0].name){
                document.getElementById('submitBtn').disabled = false;
            }
        });
    </script>
    {% endblock %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <title>Document</title>
    
</head>
<body>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="" id="">
    </form>
    {{loaded_data|safe}}

<a href="editCsv/"> EDIT FILE  </a>
</body>

<script>
$(document).ready( function () {
    console.log("Clicked")
    $('table').DataTable({
        
    });
} );

</script>

</html> {% endcomment %}